/* shared styles */
* {
    font-family: 'Work Sans';
}

.btn-primary {
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);

    padding: 50px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;

}

nav li {
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;

}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
}

/* banner styles */
.banner-info {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4em;
    font-weight: 700;
    color: #131313;
}

.banner-des {
    color: #727272;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main styles */

main {
    max-width: 1440px;
    margin: auto;
}

/* teams styles */

.teams-container {
    display: flex;
    align-items: center;
    /* margin-top: 60px; */
    padding: 85px 100px 0px 150px;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.teams-info {
    padding-right: 70px;
    padding-left: 70px;

}

.teams-title {
    font-size: 2.8rem;
}

.quick {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;

}

.of-our {
    font-size: 2.8rem;
    font-weight: 700;
}

.features {
    color: #FF900E;
}

.teams-des {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
}




/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {

    header {
        padding: 5px;
    }

    nav, .teams-container {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
        margin-right: 50px;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {

    nav, .teams-container {
        flex-direction: column;
    }

    header {
        padding: 30px;
    }
    .banner img{
        width: 80%;
        margin: 20px 75px;
    }
    .teams-img-container{
        margin-right: 50px;
    }
}